.w-e-toolbar {
    border: 1px solid rgb(221, 85, 85);
    border-bottom: 0;
}

.w-e-text-container {
    border: 1px solid rgb(184, 151, 151);
    min-height: 1500px;
    height: 1500px;
}

.list-div{
    width: 100%;
}

.list-container{
    height: 100%;
    width: 100%;
}